{% extends 'base.html' %}

{% block content %}

{% load static%}

<head>
<link rel="stylesheet" href="{% static 'css/cart.css' %}">
<header>
  <nav class="secondary_header" id="menu">
    <ul>
      <li><h1>MY SHOPPING CART</h1></li>
      
    </ul>
  </nav>
  </header>
</head>

<body>
<section>
<h2 class="noDisplay">Main Content</h2>

<ul>
  {% for item in cartItems %}
  <div>
    <article class="left_article">
      <h1>{{ item.book.title }}</h1>

      <p><h2>$ {{ item.book.price }}</p></h2>
      <img src='{{ item.book.thumbnailUrl }}'>
      <p>Q: {{ item.quantity}}

      <form action="{% url 'updateQuantity' item.book.id %}" method = "get">
         <label for="quantity">Quantity (between 1 and 5):</label>
      <input type="number" id="quan" name="q" min="1" max="5" placeholder='{{ item.quantity }}'>
      <input type="submit" value="Submit">
      </form>

      </p>
      <a href="{% url 'deleteItem' item.book.id %}">
        <button class="button buttonDelete" type="submit" name="deleteItem">Remove Item</button>
      </a>
      <a href="{% url 'saveLater' item.book.id %}">
        <button class="button buttonAdd" type="submit" name="save4Later">Save for Later</button>
      </a>
    </article>     
  </div>
  {% endfor %}    

</ul>

<h1>CART TOTAL: $ {{ cartTotal }}</h1> 


<h1>SAVE FOR LATER ITEMS: {{ later }}</h1> 
{% for item in laterItems %}
<h1>{{ item.book.title }}</h1>
<img src='{{ item.book.thumbnailUrl }}'>
</p>
<a href="{% url 'deleteLater' item.book.id %}">
  <button class="button buttonDelete" type="submit" name="deleteItem">Remove Item</button>
</a>
<a href="{% url 'moveToCart' item.book.id %}">
  <button class="button buttonAdd" type="submit" name="moveToCart">Move To Cart</button>
</a>
{% endfor %} 
</body>

{% endblock content %}