{% extends 'base.html' %}

{% block content %}

{% load static%}
<!-- TESTING TEMPLATE -->
<link rel="stylesheet" href="{% static 'css/cart.css' %}">
<nav class="secondary_header" id="menu">
  <ul>
    <li>MY SHOPPING CART</li>
    
  </ul>
</nav>
</header>


<section>
<h2 class="noDisplay">Main Content</h2>

<ul>
  {% for item in books %}
  <div>
    <article class="left_article">
      <h3>{{ item.title }}</h3>
      <p>{{ item.authors }}</p>
    </article>
    <aside class="right_article">
      <img src='{{ item.thumbnailUrl }}' alt="" width="200" height="200" class="placeholder"/>
      {{ item.shortDescription }}
    </aside>
      
  </div>
  {% endfor %}  
  </ul>



<!-- END OF TEMPLATE TESTING -->

{% endblock content %}



