{% extends 'base.html' %}
<!--
{% load static%}


    <link rel="stylesheet" type="text/css" href="{% static 'css/sort.css' %}">
-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% block content %}
<h2>Browse</h2>
<ul class="sidebar-nav">
  <h4>Top Seller</h4>
  <li><a href="{% url 'top_20_sellers' %}">CEN Top Sellers</a></li>
</ul>
<ul class="sidebar-nav">
  <h4>Genre</h4>
  {% for category in book|slice:"0:4" %}
  <li><a href="{% url 'browse_by_category' category.catetgory %}">{{ category.catetgory}}</a></li>
  {% endfor %}
</ul>
{%block rating_detail%}
<div class="rating_stars">
  <ul>
    <h4>Rating</h4>
    <a href="{% url 'rating5' %}"><span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star"></span>
      <span class="fa fa-star"></span>
    </a><br>

    <a href="{% url 'rating4' %}"><span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star"></span>
    </a><br>

    <a href="{% url 'rating3' %}"><span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
    </a><br>

    <a href="{% url 'rating2' %}"><span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
    </a><br>

    <a href="{% url 'rating1'%}"><span class="fa fa-star checked"></span>
    </a><br>

  </ul>
</div>
{% endblock %}
<!--Displaying Sort By category-->
<form action="">
  <label for="sort_list">Sort By:</label>
  <select name="sort_filed">
    <option value="title_a-z">Title: A-Z</option>
    <option value="author">Author Name: A-Z</option>
    <option value="release_date">Released Date</option>
    <option value="price_low_to_high">Price: Low to High</option>
    <option value="price_high_to_low">Price: High to Low</option>
    <option value="rating_low_to_high">Rating: Low to High</option>
    <option value="rating_high_to_low">Rating: High to Low</option>
  </select>
  <input type="submit" value="Sort">
</form>
<!--Displaying Sort By category code end-->
<!--Displaying Pagination By category-->
<form action="">
  <label for="pagination">Pagination:</label>
  <select name="paginate_by">
    <option value="10">10</option>
    <option value="20">20</option>
  </select>
  <input type="submit" value="Paginate">
</form>
<!--Displaying Sort By category code end-->
<ul>
  {% for sort in sort_list %}
  <li>
    Title: {{sort.title}} <br>
    Author: {{sort.authorName}}<br>
    Rating: {{sort.rating}}<br>
    Price: ${{sort.price}}<br>
    Released Date: {{sort.publishDate}}<br>
    <img src='{{ sort.thumbnailUrl }}'></img>
  </li>
  <br>
  {% endfor %}
</ul>
<ul>
  {% for rating5 in rating5_book_list %}
  <li>
    Title: {{rating5.title}} <br>
    Author: {{rating5.authorName}}<br>
    Rating: {{rating5.rating}}<br>
    Price: {{rating5.price}}<br>
    Released Date: {{rating5.publishDate}}<br>
    <img src='{{ rating5.thumbnailUrl }}'></img>
  </li>
  <br>
  {% endfor %}
</ul>
<ul>
  {% for rating4 in rating4_book_list %}
  <li>
    Title: {{rating4.title}} <br>
    Author: {{rating4.authorName}}<br>
    Rating: {{rating4.rating}}<br>
    Price: ${{rating4.price}}<br>
    Released Date: {{rating4.publishDate}}<br>
    <img src='{{ rating4.thumbnailUrl }}'></img>
  </li>
  <br>
  {% endfor %}
</ul>
<ul>
  {% for rating3 in rating3_book_list %}
  <li>
    Title: {{rating3.title}} <br>
    Author: {{rating3.authorName}}<br>
    Rating: {{rating3.rating}}<br>
    Price: ${{rating3.price}}<br>
    Released Date: {{rating3.publishDate}}<br>
    <img src='{{ rating3.thumbnailUrl }}'></img>
  </li>
  <br>
  {% endfor %}
</ul>
<ul>
  {% for rating2 in rating2_book_list %}
  <li>
    Title: {{rating2.title}} <br>
    Author: {{rating2.authorName}}<br>
    Rating: {{rating2.rating}}<br>
    Price: ${{rating2.price}}<br>
    Released Date: {{rating2.publishDate}}<br>
    <img src='{{ rating2.thumbnailUrl }}'></img>
  </li>
  <br>
  {% endfor %}
</ul>
<ul>
  {% for rating1 in rating1_book_list %}
  <li>
    Title: {{rating1.title}} <br>
    Author: {{rating1.authorName}}<br>
    Rating: {{rating1.rating}}<br>
    Price: ${{rating1.price}}<br>
    Released Date: {{rating1.publishDate}}<br>
    <img src='{{ rating1.thumbnailUrl }}'></img>
  </li>
  <br>
  {% endfor %}
</ul>
<ul>
  {% for top20 in page.object_list %}
  <li>
    Title: {{top20.title}} <br>
    Author: {{top20.authorName}}<br>
    Rating: {{top20.rating}}<br>
    Price: {{top20.price}}<br>
    Released Date: {{top20.publishDate}}<br>
    <img src='{{ top20.thumbnailUrl }}'></img>
  </li>
  <br>
  {% endfor %}
</ul>


<!--Displaying result from each category-->
<ul>
  {% for result in result_list %}
  <li>
    Title: {{result.title}} <br>
    Author: {{result.authorName}}<br>
    Rating: {{result.rating}}<br>
    Price: ${{result.price}}<br>
    Released Date: {{result.publishDate}}<br>
    <img src='{{ result.thumbnailUrl }}'></img>
  </li>
  <br>
  {% endfor %}
</ul>
<!--Displaying result from each category code end here-->
<!--Displaying books code start-->
<ul>
  {% for book in object_list %}
  <li>
    Title: {{book.title}} <br>
    Author: {{ book.authorName}}<br>
    Rating: {{book.rating}}<br>
    Price: ${{book.price}}<br>
    Released Date: {{book.publishDate}}<br>
    <img src='{{ book.thumbnailUrl }}'></img>
  </li>
  <br>
  {% endfor %}
</ul>
<!--Displaying books code end-->

<!--Pagination code start-->
</div>
<div class="page-link">
  <form action="{% url 'top_20_sellers' %}" method="GET" id="page_num">
      <span class="step-links">
      {% if page.has_previous %}
      <!--<button type="submit"><a href="{% url 'top_20_sellers' %}page={{page.previous_page_number }}"></a>Previous</button>-->
      <button type="submit" form="page_num" value="{{page.previous_page_number }}" name="button">Prev</button>
      {% endif %}

      <span class="current">
        Page {{ page.number }} of {{ page.paginator.num_pages }}.
      </span>

      {% if page.has_next %}
      
      <button type="submit" form="page_num" value="{{page.next_page_number}}" name="button">Next</button>
      <button type="submit" form="page_num" value="{{page.paginator.num_pages}}" name="button">Last</button>
      {% endif %}
    </span>
</form>
</div>
<!--Pagination code end-->
{% endblock content %}

</html>