{% extends 'base.html' %}
<!--
{% load static%}


    <link rel="stylesheet" type="text/css" href="{% static 'css/sort.css' %}">
-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% block content %}

{% block sidebar %}
        <h2>Browse</h2>
        <ul class="sidebar-nav">
           
          <h4>Top Seller</h4>
          <li><a href="">CEN Top 20</a></li>
          <li><a href="">CEN Top 20</a></li>
        </ul>
        <ul class="sidebar-nav">
            <h4>Genre</h4>
            <li><a href="">Framwork</a></li>
            <li><a href="{% url 'java'%}">Java</a></li>
            <li><a href="{% url 'BroweseResultsView' %}">Web Development</a></li>
        </ul>
        <ul class="sidebar-nav">
            <h4>Price</h4>
            <li><a href="">$0 - $30</a></li>
            <li><a href="">$30 - $50</a></li>
            <li><a href="">$50 - $100</a></li>
        </ul>
        <ul class="sidebar-nav">
            <h4>Rating</h4>
            <li><a href="">fa fa-star checked</a></li>
            <li><a href="">$30 - $50</a></li>
            <li><a href="">$50 - $100</a></li>
        </ul>
        <h2>Sort By</h2>
        <ul class="sidebar-nav">
            <li><a href="">Book Title</a></li>
            <li><a href="">Author</a></li>
            <li><a href="">Price</a></li>
            <li><a href="">Rating</a></li>
            <li><a href="">Date Published</a></li>
        </ul>

     {% endblock %}

        <!--<a heref="{% url 'BroweseResultsView' %}">Mobile Developement
            <ul>
                {% for book in book_list %}
                  <li>
                    {{book.title}}
                    {{ book.authors}}
                    <img src= '{{ book.thumbnailUrl }}' ></img>
                  </li>
                {% endfor %}
              </ul>
        </a>-->
        
    <ul>
      {% for book in object_list %}
        <li>
          {{book.title}}
          {{ book.authors}}
          <img src= '{{ book.thumbnailUrl }}' ></img>
        </li>
      {% endfor %}
    </ul>
<!--   
<ul>
    {% for book in books.all %}
      <li>
        {{ book.rating }}
      </li>
    {% endfor %}
</ul>
--> 


</div>
<div class="pagination">
  <span class="step-links">
      {% if page_obj.has_previous %}
          <a href="?page=1">&laquo; first</a>
          <a href="?page={{ page_obj.previous_page_number }}">previous</a>
      {% endif %}

      <span class="current">
          Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
      </span>

      {% if page_obj.has_next %}
          <a href="?page={{ page_obj.next_page_number }}">next</a>
          <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
      {% endif %}
  </span>
</div>
{% endblock content %}
</html>

