{% load static%}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>CEN Bookstore</title>
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>

  <div class="navbar">
    <nav>
      <input type="checkbox" id="show-search">
      <input type="checkbox" id="show-menu">
      <label for="show-menu" class="menu-icon"><i class="fas fa-bars"></i></label>
      <div class="content">
      <div class="logo"><a href="{% url 'index' %}">CEN Bookstore</a></div>
        <ul class="menus">
          <li>
            <a href="{% url 'userprofile' %}" class="desktop-link">Account <i class="glyphicon glyphicon-user"></i></a>
            <input type="checkbox" id="account-features">
            <label for="account-features">Account</label>
            <!--
            <ul>
              <li><a href="{% url 'userprofile' %}">Sign In</a></li>
              <li><a href="{% url 'wishlist' %}">Wishlist</a></li>
              <li><a href="{% url 'userprofile' %}">My Account</a></li>
            </ul>
            -->
          </li>
          <li>
            <a href="{% url 'shoppingcart' %}" class="desktop-link">Cart</a>
            <input type="checkbox" id="shopping-cart">
            <label for="shopping-cart">Cart</label>
          </li>
          <li>
            <a href="{% url 'wishlist' %}" class="desktop-link">Wishlist</a>
            <input type="checkbox" id="wishlist">
            <label for="wishlist">Wishlist</label>
          </li>
          <li>
            <a href="{% url 'BroweseResultsView' %}" class="desktop-link">Browse</a>
            <input type="checkbox" id="browse">
            <label for="browse">Browse</label>
          </li>
        </ul>
      </div>
      <div class="search-container">
      <form action="{% url 'SearchResultsView' %}" method="get">
        <input type="text" placeholder="Search Books..." name="q">
      </form>
      
    </div>
    </nav>
  </div>
</head>

<body>


</body>
{% if messages %}
  {% for message in messages %}
    <div class="alert alert-{{ message.tags }}">
        {{ message }}
    </div>
  {% endfor %}
{% endif %}
{% block content %}
{% endblock content %}
</html>